USE [SFdb_sandbox]
GO
/****** Object:  Table [dbo].[next_hh_id]    Script Date: 1/16/2024 3:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[next_hh_id](
	[id] [int] NULL
) ON [PRIMARY]
GO
