USE [SFdb_sandbox]
GO
/****** Object:  Table [dbo].[zzbkup_sf_map_contact_ITS4052]    Script Date: 1/16/2024 3:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zzbkup_sf_map_contact_ITS4052](
	[PartyId] [int] NOT NULL,
	[SfId] [varchar](20) NULL
) ON [PRIMARY]
GO
