USE [SFdb_sandbox]
GO
/****** Object:  Table [dbo].[hh_staging]    Script Date: 1/16/2024 3:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hh_staging](
	[CombinedId] [varchar](50) NOT NULL,
	[PartyId1] [int] NULL,
	[PartyId2] [int] NULL,
	[CombinedName] [varchar](100) NULL,
	[CombinedSalutation] [varchar](100) NULL,
	[PreferredAddressId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CombinedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
